/*  menu css  */
.menu-prymary .navbar-brand img{
    width: 70px;
}
.menu-prymary ul{ 
    list-style: none;
}
.menu-prymary ul li{ 
    display: inline-block;

}
.menu-prymary ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 17px 16px;
    font-size: 17px;
}
.menu-prymary ul li a:hover{}

.my-btn{
    border: 1px solid #dddd;
    border-radius: 100px;
    color: #7493f1;
    
}

/*  banner css */
.banner-section{
    background: #f6f9fc;
}
.banner-section-text h1{
    margin-top: 100px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.banner-section-text button{
    border-radius: 100px;
}
.round-img img{
    /* width: 751px; */
    max-width: 100%;
    border: 1px;
    border-radius: 100%;
    overflow: hidden;

}
/* <!--  tools Section --> */

.tools-section{}
.tools-section h4{
    color:#aaa4ef ;
}
.tools-section h1{ 
    position: relative;
    transition: .5s;

}
.tools-section p{}
.tools-section h1:hover::after{
    content: "";
    position: absolute;

    left: 0;
    top: 0;
    height: 1px;
    width: 20px;
    color:#3763eb ;
}
/* cadr css  */
.cade-section .card-item{ 
    height: 300px;
    width: 300px;
    background:#f6f9fc;
    padding: 15px;
    margin: 20px;
    border-radius: 15px;
} 
.card-item{
    padding: 20px;
}
.card-item:hover{
   background-color: #3763eb;
   color: white;
}
.card-item h3{ font-size: 20px; }
.card-item span{ 
    border-radius: 100% 100% 100% 0 ;
    background: #3763eb;
    color: white;
    margin: 10px 0px;
    padding: 15px;
    display: inline-block; }
.card-item p{ 
    font-size: 15px;
}

/*  slider css */

.slider-section{
    background:url(./video-bg.jpg) no-repeat center top ;
    background-size:cover;
    padding: 300px;
    z-index: 1;
    position: relative;
}
.slider-section {
    color: #fff;
}
.slider-section::after{
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* color: rgb(107, 106, 106); */
    background-color:  rgb(107, 106, 106);
    position: absolute;
    opacity: 0 ;
    z-index: -1;
}